body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c08505;
  font-family: Arial, sans-serif;
  margin: 0;
}

.calculator {
  background: #1d1c1c;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 15px;
  padding: 5px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background: #726f6f;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: 0.2s;
}

button:hover {
  background-color: #706e6e;
}

.operator {
  background-color: #ff9500;
  color: white;
}

.operator:hover {
  background-color: #663e03;
}

.equal {
  background-color: green;
  color: white;
  grid-row: span 2;
}

.equal:hover {
  background-color: rgb(3, 66, 3);
}

.zero {
  grid-column: span 2;
}

.operatorclear {
  background-color: red;
  color: white;
}

.operatorclear:hover {
  background-color: darkred;
}

.operatordelete {
  background-color: red;
  color: white;
}

.operatordelete:hover {
  background-color: darkred;
}